Population: <%= @characters.count %>
<% @characters.each do |character| %>
  <ul class='community'>
    <p class='name'>
      <%= character.name %>
    </p>
    <p class='photo'>
      <%= character.photo %>
    </p>
    <p class='allies'>
      <%= character.allies %>
    </p>
    <p class='enemies'>
      <%= character.enemies %>
    </p>
    <p class='affiliation'>
      <%= character.affiliation %>
    </p>
  </ul>
<% end %>