Population: <%= @characters.count %>
<% @characters.each do |character| %>
  <ul class='community'>
    <p class='name'>
      <%= character.name %>
    </p>
    <p class='photo'>
      <%= image_tag("#{character.photo}") %>
    </p>
    <p class='allies'>
      <% character.allies.each do |ally| %>
          <%= ally %>
      <% end %>    
    </p>
    <p class='enemies'>
      <% character.enemies.each do |enemy| %>
        <%= enemy %>
      <% end %>
    </p>
    <p class='affiliation'>
      <%= character.affiliation %>
    </p>
  </ul>
<% end %>